In [11]:
import pandas as pd

In [12]:
temp = pd.read_csv('../2017/g2017.csv', encoding='euc-kr')
temp.head()

,지점,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),일강수량(mm),최대 순간 풍속(m/s),평균 풍속(m/s),최대 순간 풍속 풍향(deg)
0,316,2017-01-01,0.6,-1.8,3,5.1,1422,0.0,9.6,2.2,343.1
1,316,2017-01-02,2.2,-1.2,2348,7.6,1358,0.0,14.0,6.0,284.1
2,316,2017-01-03,0.7,-3.5,610,5.8,1419,0.0,12.4,3.5,45.0
3,316,2017-01-04,1.8,-0.8,724,4.1,1426,0.0,12.9,4.5,45.0
4,316,2017-01-05,2.4,-0.6,441,4.6,239,0.0,11.9,5.8,98.4

In [14]:
del temp ['지점']
del temp ['평균기온(°C)']
del temp ['최저기온 시각(hhmi)']
del temp ['최고기온 시각(hhmi)']
del temp ['일강수량(mm)']
del temp ['최대 순간 풍속(m/s)']
del temp ['평균 풍속(m/s)']
del temp ['최대 순간 풍속 풍향(deg)']

temp.head()

           일시  최저기온(°C)  최고기온(°C)
0  2017-01-01      -1.8       5.1
1  2017-01-02      -1.2       7.6
2  2017-01-03      -3.5       5.8
3  2017-01-04      -0.8       4.1
4  2017-01-05      -0.6       4.6

In [15]:
temp.to_csv('../dustdata/temp2017.csv', sep=',', encoding='euc-kr')